@use "../base/variables" as v;
@use "../base/mixins" as mx;
@use "sass:color";

.uber {
  &__contenido {
    margin-bottom: 5rem;
    @include mx.grid(1, 3rem);

    @include mx.telefono_grande {
      @include mx.grid(2, 5rem);
    }
    &--info {
      h2 {
        color: v.$verde;
        font-size: clamp(5rem, 5.5vw, 7rem);
      }
      h3{
        color: v.$amarillo;
        font-size: clamp(2.5rem, 3vw, 4rem);
        line-height: 1;
      }
      p {
        color: v.$blanco;
      }
    }
  }
}
