@use "../base/variables" as v;
@use "../base/mixins" as mx;
@use "sass:color";

.menuCards {
  &__tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    @include mx.telefono-grande {
      flex-direction: row;
      flex-wrap: nowrap;
    }

    button {
      border-radius: 4rem;
      padding: 1rem 0;
      background-color: v.$verde;
      border: none;
      color: v.$negro;
      display: block;
      width: 45%;
      font-weight: v.$bold;
      transition: background-color 300ms ease;
      cursor: pointer;

      @include mx.tablet-grande {
        width: 100%;
      }

      &:hover {
        background-color: color.scale(v.$verde, $lightness: -20%);
      }
      &.actual {
        background-color: v.$blanco;
        color: v.$negro;
      }
    }
  }
}

.ocultar {
  visibility: hidden;
}

// .listado-servicios {
//   display: grid;
//   gap: 2rem;
//   // @include m.tablet {
//   //     @include m.grid(2, 2rem);
//   // }
// }

.menuCards__tabs--seccion {
  padding: 5rem 0;
  display: none;
}

.mostrar {
  display: block;
}
.ocultar {
  display: none;
}
