@use "variables" as v;

.bebasNeueThin {
  font-family: "bebas-neue-by-fontfabric", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.bebasNeueLight {
  font-family: "bebas-neue-by-fontfabric", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.bebasNeueBook {
  font-family: "bebas-neue-by-fontfabric", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.bebasNeueRegular {
  font-family: "bebas-neue-by-fontfabric", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bebasNeueBold {
  font-family: "bebas-neue-by-fontfabric", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.permanentMarkerProRegular {
  font-family: "permanent-marker-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2 {
  margin: 0 0 2.5rem 0;
  text-align: center;
}
h3 {
  margin: 2.5rem 0;
  text-align: center;
}

h4 {
  margin: 2rem 0;
  text-align: center;
}

h1,
h2 {
  font-weight: v.$bold;
}

h3,
h4 {
  font-weight: v.$delgada;
}

h1 {
  font-size: clamp(5rem, 10vw, 15rem);
}

h2 {
  font-size: clamp(3rem, 6vw, 10rem);
}

h3 {
  font-size: clamp(2rem, 2.2vw, 2.4rem);
}

h4 {
  font-size: clamp(2rem, 2.2vw, 2.6rem);
}

p {
  font-size: clamp(1.4rem, 1.6vw, 1.8rem);
}

label,
input,
select,
i {
  font-size: clamp(1.3rem, 1.4vw, 1.6rem);
}

a {
  text-decoration: none;
  font-size: clamp(1.8rem, 2vw, 2.2rem);

  span {
    font-size: clamp(0.8rem, 1vw, 1.2rem);
  }
}

button {
  font-size: clamp(1.5rem, 2vw, 3rem);
}
