//Fuentes
@import url("https://use.typekit.net/lqe4pzu.css");
@import url("https://use.typekit.net/lqe4pzu.css");

$fuente_principal: "bebas-neue-by-fontfabric", sans-serif;

$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;

//Tamaño de media queries
$telefono_pequeno: 480px;
$telefono_mediano: 600px;
$telefono_grande: 767px;
$tablet_pequena: 1024px;
$tablet_grande: 1280px;
$desktop_mediana: 1366px;
$desktop_grande: 1920px;

//colores
$negro: #000000;
$gris: #808080;
$verde: #01ea00;
$amarillo: #fbb515;
$blanco: #ffffff;
$fondo_secundario: #232429;

// $fondo_principal: #030b13;

$whatsapp: #25d366;

$tr: all 0.1s ease 0s;
